#header {
  position: absolute;
  z-index: 10;
}

#start .make {
  width: 100%;
  padding: 25rem 0;
  background-image: url(../img/SLIDE_01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#start .make .personal {
  width: 25%;
  height: 10vh;
  position: absolute;
  top: 40%;
  right: 80%;
  transform: rotate(270deg);
}
#start .make .personal span {
  color: white;
  padding-left: 10px;
  font-weight: 500;
}
#start .make .personal::after {
  content: "";
  position: absolute;
  top: 22%;
  right: 100%;
  width: 30%;
  height: 1px;
  background-color: #D7BBAD;
}
#start .make .container1 {
  width: 90%;
  min-height: 50vh;
  position: absolute;
  top: 35%;
  left: 7%;
}
#start .make .container1 .look {
  text-align: center;
  height: 60vh;
  position: relative;
}
#start .make .container1 .look h3 {
  color: #DFBA9F;
  font-size: 80px;
  font-family: "Mrs Saint Delafield", cursive;
}
#start .make .container1 .look h1 {
  color: white;
  font-size: 90px;
  font-weight: 200;
  font-family: Prata;
}
#start .make .container1 .look p {
  margin-top: 20px;
  color: white;
  font-weight: 500;
}
#start .make .container1 .look a {
  text-decoration: none;
  color: black;
  background-color: #D7BBAD;
  padding: 20px 30px 20px 90px;
  transition: 0.5s ease-in-out;
}
#start .make .container1 .look a:hover {
  background-color: white;
}
#start .make .container1 .look a::after {
  content: "";
  position: absolute;
  bottom: 8%;
  left: 43%;
  width: 5%;
  height: 1px;
  background-color: black;
  transition: 0.5s ease-in-out;
}
#start .make .container1 .number {
  position: absolute;
  top: 30%;
  height: 30vh;
}
#start .make .container1 .number span {
  color: #ddb091;
  font-size: 25px;
}
#start .make .container1 .number span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #DFBA9F;
  top: 10%;
  left: 0;
}
#start .make .container1 .number p {
  color: white;
  font-size: 25px;
}
#start .perfection {
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: -100%;
  z-index: 999;
  height: 85vh;
  background-color: white;
}
#start .perfection .collection {
  position: relative;
  margin-top: 20px;
}
#start .perfection .collection .collection1 {
  position: absolute;
  bottom: 5%;
  left: 26%;
}
#start .perfection .collection .collection1 h1 {
  font-size: 70px;
  font-family: "Prata", serif;
}
#start .perfection .collection .collection1 h1::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: black;
  top: 15%;
  left: 70%;
}
#start .perfection .collection .collection1 p {
  width: 100%;
  font-size: 30px;
  font-family: "Prata", serif;
}
#start .perfection .collection .collection1 a {
  text-decoration: none;
  color: #D7BBAD;
  padding-left: 50px;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s ease-in-out;
}
#start .perfection .collection .collection1 a:hover {
  padding-left: 15px;
}
#start .perfection .collection .collection1 a:hover::before {
  width: 48%;
}
#start .perfection .collection .collection1 a::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  background-color: #D7BBAD;
  bottom: 4%;
  left: 5%;
}
#start .perfection .autumn {
  background-color: #fae9e1;
  width: 100%;
  height: 65vh;
}
#start .perfection .male {
  width: 58%;
  height: 58vh;
  position: absolute;
  left: 36%;
  bottom: 25%;
}
#start .perfection .male a {
  text-decoration: none;
}
#start .perfection .male a .winter {
  width: 100%;
  height: 53vh;
  background-color: #000000;
  position: relative;
}
#start .perfection .male a .winter .overlay {
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 23%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .winter .overlay1 {
  width: 0.5px;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 23.4%;
  left: 95%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .winter::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: white;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .winter::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 0;
  background-color: white;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .winter:hover::before {
  opacity: 1;
  width: 90%;
}
#start .perfection .male a .winter:hover::after {
  height: 38vh;
  opacity: 1;
}
#start .perfection .male a .winter:hover .overlay {
  opacity: 1;
  width: 90%;
}
#start .perfection .male a .winter:hover .overlay1 {
  height: 38vh;
  opacity: 1;
}
#start .perfection .male a .winter p {
  color: white;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
#start .perfection .male a .winter p:hover {
  color: #D7BBAD;
}
#start .perfection .male a .winter p span {
  color: #D7BBAD;
}
#start .perfection .male a .summer {
  width: 100%;
  height: 53vh;
  background-color: black;
  position: relative;
}
#start .perfection .male a .summer .overlay {
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 23%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .summer .overlay1 {
  width: 0.5px;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 23.4%;
  left: 95%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .summer::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: white;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .summer::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 0;
  background-color: white;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .summer:hover::before {
  opacity: 1;
  width: 90%;
}
#start .perfection .male a .summer:hover::after {
  height: 38vh;
  opacity: 1;
}
#start .perfection .male a .summer:hover .overlay {
  opacity: 1;
  width: 90%;
}
#start .perfection .male a .summer:hover .overlay1 {
  height: 38vh;
  opacity: 1;
}
#start .perfection .male a .summer p {
  color: white;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
#start .perfection .male a .summer p:hover {
  color: #D7BBAD;
}
#start .perfection .male a .summer p span {
  color: #D7BBAD;
}
#start .perfection .male a .spring {
  width: 100%;
  height: 53vh;
  background-color: black;
  position: relative;
}
#start .perfection .male a .spring .overlay {
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 23%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .spring .overlay1 {
  width: 0.5px;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 23.4%;
  left: 95%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .spring::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: white;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .spring::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 0;
  background-color: white;
  top: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#start .perfection .male a .spring:hover::before {
  opacity: 1;
  width: 90%;
}
#start .perfection .male a .spring:hover::after {
  height: 38vh;
  opacity: 1;
}
#start .perfection .male a .spring:hover .overlay {
  opacity: 1;
  width: 90%;
}
#start .perfection .male a .spring:hover .overlay1 {
  height: 38vh;
  opacity: 1;
}
#start .perfection .male a .spring p {
  color: white;
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
#start .perfection .male a .spring p:hover {
  color: #D7BBAD;
}
#start .perfection .male a .spring p span {
  color: #D7BBAD;
}

#txtt {
  width: 100%;
  padding: 25rem 0;
  background-color: #F9F1EC;
  position: relative;
}
#txtt .container-one {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
  position: absolute;
  top: 55%;
  left: 10%;
}
#txtt .container-one::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 10vh;
  top: 20%;
  left: 45%;
  background-color: #ddb091;
}
#txtt .container-one p {
  font-size: 20px;
  width: 90%;
  text-align: center;
  font-family: "Prata", serif;
}
#txtt .container-one img {
  margin-top: 15px;
  position: absolute;
  left: 40%;
}

#videos {
  width: 100%;
  padding: 1rem 0;
  background-color: #F9F1EC;
}
#videos .video {
  width: 90%;
  margin: auto;
  height: 100vh;
  background-image: url(../img/video-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#videos .video .overlay2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.326);
  position: relative;
}
#videos .video .overlay2 .overlay {
  width: 0;
  height: 0.5px;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 3%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#videos .video .overlay2 .overlay1 {
  width: 0.5px;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 97%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#videos .video .overlay2::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: white;
  top: 5%;
  left: 3%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#videos .video .overlay2::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 0;
  background-color: white;
  top: 5%;
  left: 3%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#videos .video .overlay2:hover::before {
  opacity: 1;
  width: 94%;
}
#videos .video .overlay2:hover::after {
  height: 90vh;
  opacity: 1;
}
#videos .video .overlay2:hover .overlay {
  opacity: 1;
  width: 94%;
}
#videos .video .overlay2:hover .overlay1 {
  height: 90vh;
  opacity: 1;
}
#videos .video .overlay2 .icon {
  width: 80px;
  height: 80px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15mm;
}
#videos .video .overlay2 .icon:hover i {
  color: #D7BBAD;
}
#videos .video .overlay2 .icon i {
  position: absolute;
  left: 13%;
  top: 11%;
  font-size: 60px;
  transition: 0.3s ease-in-out;
}

#online {
  width: 100%;
  padding: 60rem 0;
  position: relative;
}
#online .store {
  width: 80%;
  position: absolute;
  top: 8%;
  left: 10%;
  text-align: center;
}
#online .store p {
  color: #DFBA9F;
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 50px;
  line-height: 10%;
}
#online .store h1 {
  font-size: 60px;
  font-family: "Prata", serif;
}
#online .store span {
  color: black;
  font-size: 17px;
}
#online .trend {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 10%;
  padding-bottom: 70px;
}
#online .trend .gloves {
  padding-bottom: 10px;
  padding-left: 80px;
  position: relative;
}
#online .trend .gloves:hover .overlay {
  opacity: 1;
}
#online .trend .gloves .overlay {
  width: 82%;
  height: 83.5%;
  background-color: rgba(59, 59, 59, 0.276);
  position: absolute;
  top: 0;
  left: 15.3%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#online .trend .gloves .overlay .info {
  width: 50%;
  height: 50px;
  background-color: white;
  position: relative;
  top: 75%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .gloves .overlay .info:hover {
  background-color: #DFBA9F;
}
#online .trend .gloves .overlay .info p {
  font-size: 13px;
}
#online .trend .gloves .overlay .info p i {
  font-size: 18px;
  padding: 5px 10px 0 0;
}
#online .trend .gloves .overlay .add {
  width: 50%;
  height: 50px;
  background-color: black;
  position: relative;
  top: 78%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .gloves .overlay .add:hover {
  background-color: #DFBA9F;
}
#online .trend .gloves .overlay .add p {
  color: white;
  font-size: 12px;
  padding-top: 15px;
}
#online .trend .gloves .overlay .add p i {
  padding-right: 8px;
}
#online .trend .gloves a {
  text-decoration: none;
}
#online .trend .gloves a p {
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  transition: 0.3s ease-in-out;
}
#online .trend .gloves a p:hover {
  color: #DFBA9F;
}
#online .trend .gloves a span {
  color: #DFBA9F;
  font-weight: bold;
  padding-left: 170px;
}
#online .trend .skirt {
  padding-bottom: 40px;
  padding-left: 80px;
}
#online .trend .skirt:hover .overlay {
  opacity: 1;
}
#online .trend .skirt .overlay {
  width: 42%;
  height: 40.3%;
  background-color: rgba(59, 59, 59, 0.276);
  position: absolute;
  top: 0;
  left: 58%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#online .trend .skirt .overlay .info {
  width: 50%;
  height: 50px;
  background-color: white;
  position: relative;
  top: 75%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .skirt .overlay .info:hover {
  background-color: #DFBA9F;
}
#online .trend .skirt .overlay .info p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding-top: 13px;
}
#online .trend .skirt .overlay .info p i {
  font-size: 18px;
  display: inline-block;
  padding: 2px 10px 0 0;
}
#online .trend .skirt .overlay .add {
  width: 50%;
  height: 50px;
  background-color: black;
  position: relative;
  top: 78%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .skirt .overlay .add:hover {
  background-color: #DFBA9F;
}
#online .trend .skirt .overlay .add p {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 14px;
}
#online .trend .skirt .overlay .add p i {
  padding-right: 8px;
}
#online .trend .skirt a {
  text-decoration: none;
}
#online .trend .skirt a p {
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  transition: 0.3s ease-in-out;
}
#online .trend .skirt a p:hover {
  color: #DFBA9F;
}
#online .trend .skirt a span {
  color: #DFBA9F;
  font-weight: bold;
  padding-left: 180px;
}
#online .trend .sweater {
  padding-bottom: 10px;
  padding-left: 80px;
}
#online .trend .sweater:hover .overlay {
  opacity: 1;
}
#online .trend .sweater .overlay {
  width: 42%;
  height: 40.2%;
  background-color: rgba(59, 59, 59, 0.276);
  position: absolute;
  top: 48.5%;
  left: 6.8%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#online .trend .sweater .overlay .info {
  width: 50%;
  height: 50px;
  background-color: white;
  position: relative;
  top: 75%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .sweater .overlay .info:hover {
  background-color: #DFBA9F;
}
#online .trend .sweater .overlay .info p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
}
#online .trend .sweater .overlay .info p i {
  font-size: 18px;
  padding: 5px 10px 0 0;
}
#online .trend .sweater .overlay .add {
  width: 50%;
  height: 50px;
  background-color: black;
  position: relative;
  top: 78%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .sweater .overlay .add:hover {
  background-color: #DFBA9F;
}
#online .trend .sweater .overlay .add p {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
#online .trend .sweater .overlay .add p i {
  padding-right: 8px;
}
#online .trend .sweater a {
  text-decoration: none;
}
#online .trend .sweater a::after {
  content: "SALE";
  font-size: 15px;
  color: black;
  font-weight: bold;
  padding: 6px 15px;
  position: absolute;
  bottom: 45%;
  left: 38%;
  width: 70px;
  height: 35px;
  border: 1px solid black;
  background-color: white;
}
#online .trend .sweater a p {
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  transition: 0.3s ease-in-out;
}
#online .trend .sweater a p:hover {
  color: #DFBA9F;
}
#online .trend .sweater a span {
  display: inline-block;
  color: orangered;
  padding-left: 140px;
  font-weight: bold;
}
#online .trend .sweater a span h6 {
  font-weight: bold;
  color: rgb(157, 157, 157);
  padding-right: 20px;
  display: inline-block;
}
#online .trend .sweater a span h6::before {
  content: "";
  position: absolute;
  bottom: 6.8%;
  left: 20%;
  width: 7%;
  height: 1px;
  background-color: gray;
}
#online .trend .cardigan {
  padding-left: 80px;
}
#online .trend .cardigan:hover .overlay {
  opacity: 1;
}
#online .trend .cardigan .overlay {
  width: 42%;
  height: 40.2%;
  background-color: rgba(59, 59, 59, 0.276);
  position: absolute;
  top: 48.3%;
  left: 58%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#online .trend .cardigan .overlay .info {
  width: 50%;
  height: 50px;
  background-color: white;
  position: relative;
  top: 75%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .cardigan .overlay .info:hover {
  background-color: #DFBA9F;
}
#online .trend .cardigan .overlay .info p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
}
#online .trend .cardigan .overlay .info p i {
  font-size: 18px;
  padding: 5px 10px 0 0;
}
#online .trend .cardigan .overlay .add {
  width: 50%;
  height: 50px;
  background-color: black;
  position: relative;
  top: 78%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#online .trend .cardigan .overlay .add:hover {
  background-color: #DFBA9F;
}
#online .trend .cardigan .overlay .add p {
  color: white;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
}
#online .trend .cardigan .overlay .add p i {
  padding-right: 8px;
}
#online .trend .cardigan a {
  text-decoration: none;
}
#online .trend .cardigan a::after {
  content: "SALE";
  font-size: 15px;
  color: black;
  font-weight: bold;
  padding: 6px 15px;
  position: absolute;
  bottom: 45%;
  left: 91%;
  width: 70px;
  height: 35px;
  border: 1px solid black;
  background-color: white;
}
#online .trend .cardigan a p {
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  transition: 0.3s ease-in-out;
}
#online .trend .cardigan a p:hover {
  color: #DFBA9F;
}
#online .trend .cardigan a span {
  display: inline-block;
  color: orangered;
  font-weight: bold;
  padding-left: 140px;
}
#online .trend .cardigan a span h6 {
  font-weight: bold;
  color: rgb(157, 157, 157);
  padding-right: 20px;
  display: inline-block;
}
#online .trend .cardigan a span h6::before {
  content: "";
  position: absolute;
  bottom: 6.8%;
  left: 71.5%;
  width: 7%;
  height: 1px;
  background-color: gray;
}
#online .trend .more {
  width: 200px;
  height: 60px;
  background-color: #DFBA9F;
  position: absolute;
  bottom: 0%;
  left: 43%;
  transition: 0.5s ease-in-out;
}
#online .trend .more:hover {
  background-color: black;
}
#online .trend .more:hover a {
  color: white;
}
#online .trend .more:hover::after {
  background-color: white;
}
#online .trend .more::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  bottom: 45%;
  left: 9%;
  background-color: black;
}
#online .trend .more a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  padding: 20px 0 0 60px;
}

#service {
  width: 100%;
  padding: 5rem 0;
  background-color: black;
}
#service .choose {
  width: 90%;
  margin: auto;
  position: relative;
}
#service .choose::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 54vh;
  top: 37%;
  left: 63%;
  background-color: black;
}
#service .choose::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 34vh;
  top: 70%;
  left: 63%;
  background-color: #fde9db;
}
#service .choose .book {
  width: 100%;
  height: 150vh;
  background-color: white;
  padding: 80px 60px;
  position: relative;
}
#service .choose .book h1 {
  position: absolute;
  color: rgba(223, 186, 159, 0.3921568627);
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 160px;
  top: 10%;
  z-index: 1;
}
#service .choose .book h2 {
  font-family: "Prata", serif;
  font-size: 50px;
  z-index: 999;
  color: black;
}
#service .choose .book p {
  font-family: "Prata", serif;
}
#service .choose .book ul {
  padding: 0;
}
#service .choose .book ul li {
  list-style: none;
  margin-top: 20px;
}
#service .choose .book ul li a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
#service .choose .book ul li p {
  font-size: 15px;
  color: gray;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
#service .choose .book ul li span {
  color: #DFBA9F;
  font-weight: bold;
  display: inline-block;
}
#service .choose .book ul li .button {
  height: 7vh;
  background-color: black;
  position: relative;
  transition: 0.5s ease-in-out;
}
#service .choose .book ul li .button:hover {
  background-color: #DFBA9F;
}
#service .choose .book ul li .button:hover a {
  color: black;
}
#service .choose .book ul li .button:hover::after {
  background-color: black;
}
#service .choose .book ul li .button a {
  font-size: 13px;
  color: white;
  display: inline-block;
  padding: 10px 0 0 40px;
}
#service .choose .book ul li .button::after {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  top: 45%;
  left: 6%;
  background-color: white;
}
#service .sale {
  width: 100%;
  height: 150vh;
  background-image: url(../img/services-bg-small-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#service .sale img {
  position: absolute;
  top: 20%;
  left: 10%;
}

#photos {
  width: 100%;
  padding: 5rem 0;
  background-color: #F9F1EC;
  padding-top: 50px;
}
#photos .photo-ones {
  border-right: 1.5px solid white;
}
#photos .photo-ones:nth-child(5) {
  padding-top: 40px;
  height: 20vh;
}
#photos .photo-ones:nth-child(6) {
  border: none;
}
#photos .photo-ones img {
  display: inline-block;
  margin-left: 30px;
}

#fashion {
  width: 100%;
  padding: 20rem 0;
  position: relative;
}
#fashion .recent {
  position: absolute;
  top: 20%;
  left: 30%;
  text-align: center;
}
#fashion .recent p {
  font-size: 50px;
  line-height: 10%;
  color: #DFBA9F;
  font-family: "Mrs Saint Delafield", cursive;
}
#fashion .recent h1 {
  font-size: 50px;
  font-family: "Prata", serif;
}
#fashion .stylist {
  width: 90%;
  height: 50vh;
  position: absolute;
  top: 40%;
  left: 5%;
}
#fashion .stylist .photo-one {
  position: relative;
}
#fashion .stylist .photo-one .overlay-one {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  height: 30px;
  background-color: #000000;
}
#fashion .stylist .photo-one .overlay-one p {
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}
#fashion .stylist .photo-one .overlay {
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-one .overlay1 {
  width: 0.5px;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 94%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-one::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: white;
  top: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-one::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 0;
  background-color: white;
  top: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-one:hover::before {
  opacity: 1;
  width: 88%;
}
#fashion .stylist .photo-one:hover::after {
  height: 35vh;
  opacity: 1;
}
#fashion .stylist .photo-one:hover .overlay {
  opacity: 1;
  width: 88%;
}
#fashion .stylist .photo-one:hover .overlay1 {
  height: 35vh;
  opacity: 1;
}
#fashion .stylist .photo-one img {
  width: 100%;
}
#fashion .stylist .photo-two {
  position: relative;
}
#fashion .stylist .photo-two .overlay-two {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  height: 30px;
  background-color: #000000;
}
#fashion .stylist .photo-two .overlay-two p {
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}
#fashion .stylist .photo-two .overlay {
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-two .overlay1 {
  width: 0.5px;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 94%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-two::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: white;
  top: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-two::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 0;
  background-color: white;
  top: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-two:hover::before {
  opacity: 1;
  width: 88%;
}
#fashion .stylist .photo-two:hover::after {
  height: 35vh;
  opacity: 1;
}
#fashion .stylist .photo-two:hover .overlay {
  opacity: 1;
  width: 88%;
}
#fashion .stylist .photo-two:hover .overlay1 {
  height: 35vh;
  opacity: 1;
}
#fashion .stylist .photo-two img {
  width: 100%;
}
#fashion .stylist .photo-three {
  position: relative;
}
#fashion .stylist .photo-three .overlay-three {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30%;
  height: 30px;
  background-color: #000000;
}
#fashion .stylist .photo-three .overlay-three p {
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}
#fashion .stylist .photo-three .overlay {
  width: 0;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-three .overlay1 {
  width: 0.5px;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 5%;
  left: 94%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-three::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  background-color: white;
  top: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-three::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 0;
  background-color: white;
  top: 5%;
  left: 6%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#fashion .stylist .photo-three:hover::before {
  opacity: 1;
  width: 88%;
}
#fashion .stylist .photo-three:hover::after {
  height: 35vh;
  opacity: 1;
}
#fashion .stylist .photo-three:hover .overlay {
  opacity: 1;
  width: 88%;
}
#fashion .stylist .photo-three:hover .overlay1 {
  height: 35vh;
  opacity: 1;
}
#fashion .stylist .photo-three img {
  width: 100%;
}
#fashion .news {
  width: 90%;
  height: 30vh;
  position: absolute;
  top: 69%;
  left: 8%;
}
#fashion .news .season {
  width: 80%;
  height: 30vh;
  background-color: white;
  text-align: center;
  padding-top: 20px;
}
#fashion .news .season a {
  text-decoration: none;
}
#fashion .news .season a h6 {
  font-size: 15px;
  color: gray;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}
#fashion .news .season a span {
  font-family: "Prata", serif;
  color: black;
  transition: 0.3s ease-in-out;
}
#fashion .news .season a span:hover {
  color: #D7BBAD;
}
#fashion .news .season a p {
  font-family: "Ubuntu", sans-serif;
  color: #D7BBAD;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  transition: 0.5s ease-in-out;
}
#fashion .news .season a p:hover {
  padding-right: 20px;
}
#fashion .news .season a p:hover::before {
  width: 40%;
}
#fashion .news .season a p::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 0.5px;
  top: 50%;
  left: 25%;
  background-color: #D7BBAD;
  transition: 0.5s ease-in-out;
}

@media (max-width: 576px) {
  #start .make {
    padding: 15rem 0;
  }
  #start .make .personal {
    opacity: 0;
  }
  #start .make .container1 {
    min-height: 50vh;
    position: absolute;
    top: 20%;
  }
  #start .make .container1 .look h3 {
    font-size: 50px;
    color: white;
  }
  #start .make .container1 .look h1 {
    font-size: 60px;
  }
  #start .make .container1 .look p {
    font-size: 13px;
  }
  #start .make .container1 .look a::after {
    content: "";
    position: absolute;
    bottom: -11%;
    left: 30%;
    width: 15%;
    height: 0.5px;
  }
  #start .make .container1 .look .more {
    width: 50%;
    height: 50px;
    position: absolute;
    left: 20%;
  }
  #start .make .container1 .look .more hr {
    width: 20%;
    margin: 25px 0 0 15px;
  }
  #start .make .container1 .look .more a {
    padding: 13px 0 0 10px;
  }
  #start .make .container1 .number {
    opacity: 0;
  }
  #start .make .container1 .number span {
    color: #ddb091;
    font-size: 25px;
  }
  #start .make .container1 .number span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #DFBA9F;
    bottom: 10%;
    left: 0;
  }
  #start .perfection {
    top: 100%;
    z-index: 999;
    padding: 25rem 0;
    background-color: white;
  }
  #start .perfection .collection {
    position: relative;
    bottom: 100%;
  }
  #start .perfection .autumn {
    background-color: #fae9e1;
    width: 60%;
    margin: auto;
    padding: 1rem 0;
  }
  #start .perfection .male {
    width: 60%;
    padding: 30rem 0;
    position: absolute;
    margin: 0;
    left: 20%;
    top: 60%;
  }
  #start .perfection .male a {
    text-decoration: none;
  }
  #start .perfection .male a .winter {
    position: absolute;
    top: 0;
    background-color: #FAE9E1;
  }
  #start .perfection .male a .winter img {
    position: absolute;
    top: -11%;
    left: 10%;
    background-color: #FAE9E1;
    width: 100%;
  }
  #start .perfection .male a .winter .pler {
    position: absolute;
    top: 94%;
    width: 100%;
    left: 10%;
    background-color: #000000;
  }
  #start .perfection .male a .winter .overlay {
    width: 0;
    height: 0.5px;
    background-color: white;
    position: absolute;
    bottom: 13%;
    left: 15%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .winter .overlay1 {
    width: 0.5px;
    height: 0;
    background-color: white;
    position: absolute;
    bottom: 14%;
    left: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .winter::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    background-color: white;
    top: -5%;
    left: 15%;
    opacity: 0;
    z-index: 999;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .winter::after {
    content: "";
    position: absolute;
    width: 0.5px;
    height: 0;
    background-color: white;
    top: -5%;
    left: 15%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .winter:hover::before {
    opacity: 1;
    width: 85%;
  }
  #start .perfection .male a .winter:hover::after {
    height: 48vh;
    opacity: 1;
  }
  #start .perfection .male a .winter:hover .overlay {
    opacity: 1;
    width: 85%;
  }
  #start .perfection .male a .winter:hover .overlay1 {
    height: 48vh;
    opacity: 1;
  }
  #start .perfection .male a .winter p {
    color: white;
    display: inline-block;
    font-size: 18px;
    transition: 0.3s ease-in-out;
  }
  #start .perfection .male a .summer {
    position: absolute;
    top: 47%;
    background-color: #FAE9E1;
  }
  #start .perfection .male a .summer img {
    position: absolute;
    top: -11%;
    left: 10%;
    background-color: #FAE9E1;
    width: 100%;
  }
  #start .perfection .male a .summer .pler {
    position: absolute;
    top: 90%;
    width: 100%;
    left: 10%;
    background-color: #000000;
  }
  #start .perfection .male a .summer .overlay {
    width: 0;
    height: 0.5px;
    background-color: white;
    position: absolute;
    bottom: 13%;
    left: 15%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .summer .overlay1 {
    width: 0.5px;
    height: 0;
    background-color: white;
    position: absolute;
    bottom: 14%;
    left: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .summer::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    background-color: white;
    top: -5%;
    left: 15%;
    opacity: 0;
    z-index: 999;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .summer::after {
    content: "";
    position: absolute;
    width: 0.5px;
    height: 0;
    background-color: white;
    top: -5%;
    left: 15%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .summer:hover::before {
    opacity: 1;
    width: 85%;
  }
  #start .perfection .male a .summer:hover::after {
    height: 48vh;
    opacity: 1;
  }
  #start .perfection .male a .summer:hover .overlay {
    opacity: 1;
    width: 85%;
  }
  #start .perfection .male a .summer:hover .overlay1 {
    height: 48vh;
    opacity: 1;
  }
  #start .perfection .male a .summer p {
    color: white;
    display: inline-block;
    font-size: 18px;
    transition: 0.3s ease-in-out;
  }
  #start .perfection .male a .spring {
    position: absolute;
    top: 93%;
    background-color: #fae9e1;
  }
  #start .perfection .male a .spring img {
    position: absolute;
    top: -11%;
    left: 10%;
    background-color: #fae9e1;
    width: 100%;
  }
  #start .perfection .male a .spring .pler {
    position: absolute;
    top: 90%;
    width: 100%;
    left: 10%;
    background-color: #000000;
  }
  #start .perfection .male a .spring .overlay {
    width: 0;
    height: 0.5px;
    background-color: white;
    position: absolute;
    bottom: 13%;
    left: 15%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .spring .overlay1 {
    width: 0.5px;
    height: 0;
    background-color: white;
    position: absolute;
    bottom: 14%;
    left: 100%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .spring::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    background-color: white;
    top: -5%;
    left: 15%;
    opacity: 0;
    z-index: 999;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .spring::after {
    content: "";
    position: absolute;
    width: 0.5px;
    height: 0;
    background-color: white;
    top: -5%;
    left: 15%;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  #start .perfection .male a .spring:hover::before {
    opacity: 1;
    width: 85%;
  }
  #start .perfection .male a .spring:hover::after {
    height: 48vh;
    opacity: 1;
  }
  #start .perfection .male a .spring:hover .overlay {
    opacity: 1;
    width: 85%;
  }
  #start .perfection .male a .spring:hover .overlay1 {
    height: 48vh;
    opacity: 1;
  }
  #start .perfection .male a .spring p {
    color: white;
    display: inline-block;
    font-size: 18px;
    transition: 0.3s ease-in-out;
  }
  #txtt {
    width: 100%;
    padding: 20rem 0;
    position: relative;
  }
  #txtt .container-one {
    width: 80%;
    margin: auto;
    padding-top: 10px;
  }
  #txtt .container-one::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 10vh;
    bottom: 80%;
    left: 45%;
    background-color: #ddb091;
  }
  #txtt .container-one p {
    font-size: 20px;
    width: 90%;
    text-align: center;
    font-family: "Prata", serif;
  }
  #txtt .container-one img {
    margin-top: 15px;
    position: absolute;
    left: 40%;
  }
  #videos {
    width: 100%;
    background-color: #F9F1EC;
  }
  #videos .video {
    width: 90%;
    margin: auto;
    height: 100vh;
    background-image: url(../img/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #online {
    display: none;
  }
  #service {
    display: none;
  }
  #photos {
    display: none;
  }
  #fashion {
    display: none;
  }
}
container {
  width: 90%;
  margin: auto;
}

#header .nav-menu {
  width: 100%;
  height: 20vh;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
#header .nav-menu .logo {
  width: 30%;
  padding-left: 90px;
}
#header .nav-bar {
  width: 70%;
}
#header .nav-bar ul {
  display: flex;
}
#header .nav-bar ul li {
  list-style: none;
}
#header .nav-bar ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-right: 20px;
  transition: 0.5s ease-in-out;
}
#header .nav-bar ul li a i {
  padding-left: 30px;
}
#header .nav-bar ul li a i:hover {
  transform: rotate(90deg);
}
#header .nav-bar ul li a:hover {
  color: #DBB295;
}

#background .products {
  height: 50vh;
  background-image: url(../photos/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#background .shop .box-left {
  margin-top: 60px;
}
#background .shop .box-left .box {
  padding: 60px;
  border: 10px solid rgba(228, 162, 197, 0.1568627451);
  margin-top: 20px;
  position: relative;
}
#background .shop .box-left .box .filter {
  position: absolute;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #DBB295;
  transform: translate(-50%, -50%);
  font-size: 15px;
  padding: 15px 30px;
  margin: 30px 0 80px 80px;
}
#background .shop .box-left .box .filter:hover::before {
  width: 0;
  left: 0;
  color: white;
}
#background .shop .box-left .box .filter::before {
  content: "";
  background-color: #141414;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
#background .shop .box-left .box .filter::after {
  content: "";
  background-color: #141414;
  bottom: 50%;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
#background .shop .box-left .list li {
  list-style: none;
  padding-top: 10px;
}
#background .shop .box-left .list li a {
  text-decoration: none;
  color: black;
}
#background .shop .box-left .list li a:hover {
  color: #DBB295;
  transition: 0.5s ease-in-out;
}
#background .shop .box-left .last {
  display: flex;
  flex-wrap: wrap;
}
#background .shop .box-left .last li {
  list-style: none;
  width: 50%;
  padding: 10px;
}
#background .shop .box-left .last li a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 1px solid black;
}
#background .shop .box-left .last li a:hover {
  background-color: #141414;
  color: white;
  transition: 0.5s ease-in-out;
}
#background .shop input {
  padding: 10px 115px;
}
#background .box-right .sort {
  padding: 10px 90px;
  margin: 60px 60px 30px 0;
  background-color: #e2dfdd;
}
#background .box-right .sort a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-left: 40%;
}
#background .box-right .sort a i {
  padding-left: 60px;
}
#background .box-right .glasses {
  padding-bottom: 10px;
  padding-left: 80px;
  position: relative;
}
#background .box-right .glasses:hover .overlay {
  opacity: 1;
}
#background .box-right .glasses .overlay {
  width: 82%;
  height: 83.5%;
  background-color: rgba(59, 59, 59, 0.276);
  position: absolute;
  top: 0;
  left: 15.3%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
#background .box-right .glasses .overlay .info {
  width: 50%;
  height: 50px;
  background-color: white;
  position: relative;
  top: 75%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#background .box-right .glasses .overlay .info:hover {
  background-color: #DFBA9F;
}
#background .box-right .glasses .overlay .info p {
  font-size: 13px;
}
#background .box-right .glasses .overlay .info p i {
  font-size: 18px;
  padding: 5px 10px 0 0;
}
#background .box-right .glasses .overlay .add {
  width: 50%;
  height: 50px;
  background-color: black;
  position: relative;
  top: 78%;
  left: 23%;
  transition: 0.5s ease-in-out;
}
#background .box-right .glasses .overlay .add:hover {
  background-color: #DFBA9F;
}
#background .box-right .glasses .overlay .add p {
  color: white;
  font-size: 12px;
  padding-top: 15px;
}
#background .box-right .glasses .overlay .add p i {
  padding-right: 8px;
}
#background .box-right .glasses a {
  text-decoration: none;
}
#background .box-right .glasses a p {
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  transition: 0.3s ease-in-out;
}
#background .box-right .glasses a p:hover {
  color: #DFBA9F;
}
#background .box-right .glasses a span {
  color: #DFBA9F;
  font-weight: bold;
  padding-left: 170px;
}
#background #footer {
  background-color: #141414;
}
#background #footer .end .top {
  padding: 40px;
  display: flex;
  justify-content: center;
}
#background #footer .end .top h1 {
  color: #DFBA9F;
  font-family: "Mrs Saint Delafield", cursive;
}
#background #footer .end .top .input {
  margin-left: 60px;
}
#background #footer .end .top .input input {
  padding: 15px 80px;
}
#background #footer .end .top span {
  background-color: #DBB295;
  padding: 18px 40px;
}
#background #footer hr {
  color: #DBB295;
}
#background #footer .middle {
  display: flex;
  width: 100%;
  margin: 70px 20px;
}
#background #footer .middle .box {
  width: 33.333%;
}
#background #footer .middle .box img {
  margin-bottom: 30px;
}
#background #footer .middle .box span {
  font-size: 15px;
  color: #cdc6c0;
}
#background #footer .middle .box i {
  padding-right: 8px;
  color: #DBB295;
}
#background #footer .middle .box h1 {
  font-family: "Times New Roman", Times, serif;
  color: #DBB295;
}
#background #footer .middle .box a {
  text-decoration: none;
  color: white;
}
#background #footer .middle .box ul {
  display: flex;
  flex-wrap: wrap;
}
#background #footer .middle .box ul li {
  list-style: none;
  width: 50%;
}
#background #footer .bottom {
  padding: 30px 0;
  text-align: center;
}
#background #footer .bottom span {
  color: #DBB295;
}

@media (max-width: 576px) {
  #header {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */